<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580096542552-ibj23kqmeuu27nve6o57bevr669lvf2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580096542552-ibj23kqmeuu27nve6o57bevr669lvf2c</string>
	<key>API_KEY</key>
	<string>AIzaSyB5af4vh5UOeeYHkKjmqKw4876HM4caJBA</string>
	<key>GCM_SENDER_ID</key>
	<string>580096542552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acc</string>
	<key>PROJECT_ID</key>
	<string>acc-8cbe4</string>
	<key>STORAGE_BUCKET</key>
	<string>acc-8cbe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580096542552:ios:c5a4e11b9e774bc668c72d</string>
	<key>DATABASE_URL</key>
	<string>https://acc-8cbe4.firebaseio.com</string>
</dict>
</plist>